@import '../../style/variables.scss';

.result-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 0 4px 24px;
  background: rgba(255, 255, 255, 0.99);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  & .icon {
    margin-right: 24px;
  }
  & .name {
    font-size: 14px;
    line-height: 20px;
    & em {
      font-weight: 600;
      font-style: normal;
    }
  }
  &:hover {
    background: rgba(238, 238, 238, 0.99);
  }
}

.theme_dark {
  .result-row {
    background: $block-bg-black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    &:hover {
      background: rgba(84, 84, 84, 0.99);
    }
  }
}
