.app__details_descr {
  margin-top: 18px;
  text-align: left;
  & span {
    font-size: 12px;
    font-weight: 600;
  }
  &-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 6px;
  }
  &-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 12px;
    & img {
      width: 12px;
      height: 12px;
      margin-right: 4px;
    }
    & span {
      font-size: 10px;
    }
  }
}