$page-bg-light: linear-gradient(321.8deg, rgba(0, 213, 75, 0) -4.87%, rgba(0, 213, 75, 0.04) 103.19%), #FFFFFF;
$page-bg-black: #232020;
$text-color-light: #4A4A4A;
$text-color-black: #ffffff;
$btn-color-light: #00D54B;
$btn-color-black: #0CE288;
$block-box-light: 16px 24px 48px rgba(4, 49, 20, 0.08);
$block-box-black: 16px 24px 48px #121212;
$block-bg-black: linear-gradient(325.39deg, rgba(193, 193, 193, 0) -8.56%, rgba(193, 193, 193, 0.04) 110.08%), #151515;
// spinner line vars start
$spin-line-anim-transform-sc0: translate(8.8px,46.2px) scale(0);
$spin-line-anim-transform-sc1: translate(8.8px,46.2px) scale(1);
$spin-line-anim-rad-transform-sc0: translate(83.6px,46.2px) scale(0);
$spin-line-anim-rad-transform-sc1: translate(83.6px,46.2px) scale(1);
// spinner lone end
